.change-modal {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-modal-text {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 1.75;
  text-align: center;
  color: #1e3266;
}

.change-modal-textarea {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 5px;
  font-size: 20px;
  resize: none;
  border: 1px solid #1e3266;
}

.change-modal-btn {
  width: 120px;
  height: 30px;
  background: #ffa601;
  border: none;
  border-radius: 13px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.75;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.change-modal-btn:hover {
  background: #ffcb6a;
  box-shadow: 1px 1px 7px 1px #505050;
}
